{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>

<a href="{{=URL('persona','crear')}}">Crear</a>
<br>

<table style="padding: 10px;">
<thead style="background-color: #ccc;">
	<th style="padding: 5px;">Nombre</th>
	<th style="padding: 5px;">Opción</th>
</thead>
<tbody>
{{for row in personas:}}
	<tr>
		<td style="padding: 5px;">{{=row.nombre}}</td>
		<td style="padding: 5px;">
			<a href="{{=URL('persona','editar',args=row.id)}}">Editar</a>
			<a href="javascript:eliminar({{=row.id}})">Eliminar</a>
		</td>
	</tr>
{{pass}}
</tbody>
</table>

</body>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">

			function eliminar( persona_id )
			{
				console.log(persona_id);
				$.ajax({
					url:"{{=URL('persona','eliminar')}}",
					type:"POST",
					data:{persona_id:persona_id},
					success:function(response){
						alert("¡Registro Eliminado!");
						window.location.reload();
					}
				});
			}
</script>

</html>