{{extend 'layout.html'}}
<h1>Crear Viaje</h1>
<form method="POST">
	<select name="persona_id">
		{{ for row in personas: }}
		<option value="{{ =row.id }}">{{ =row.nombre }}</option>
		{{pass}}
	</select>
	<input type="submit" value="Guardar">
</form>