{{extend 'layout.html'}}
<h1>Crear Viaje</h1>
<form method="POST">
	<select name="persona_id">
		{{ for row in personas: }}
		<option {{if row.id == viaje.persona_id:}} selected {{pass}} value="{{ =row.id }}">{{ =row.nombre }}</option>
		{{pass}}
	</select>
	<input type="datetime" name="fecha"value="{{=viaje.fecha}}">
	<input type="submit" value="Actualizar">
</form>