<!DOCTYPE html>
<html>
<head>
  <title>OXXO</title>
</head>
<body>
  <h1><a href="{{=URL('persona','index')}}">Persona</a></h1>
  <h1><a href="{{=URL('viaje','index')}}">Viaje</a></h1>
  <h1><a href="{{=URL('producto','index')}}">Producto</a></h1>
  <h1><a href="{{=URL('pedido','index')}}">Pedido</a></h1>
  {{include}}
</body>
</html>