{{extend 'layout.html'}}
<h1>Crear Pedido</h1>
<form method="POST">
	Viajes: <select name="viaje_id">
		{{ for row in viaje: }}
		<option value="{{ =row.id }}">{{ =str(row.id)+" -- "+row.persona_id.nombre }}</option>
		{{pass}}
	</select>
	Quien pide: <select name="persona_id">
		{{ for row in personas: }}
		<option value="{{ =row.id }}">{{ =row.nombre }}</option>
		{{pass}}
	</select>
	<input type="number" step="any" name="monto">
	<input type="number" step="any" name="comision">
	<input type="submit" value="Guardar">
</form>