{{extend 'layout.html'}}
<h1>Editar Pedido</h1>
<form method="POST">
	<input type="text" name="pedido_id" value="{{=pedido.id}}">
	<select name="persona_id">
		{{ for row in personas: }}
		<option value="{{ =row.id }}" {{if row.id == pedido.persona_id:}} selected {{pass}}>{{ =row.nombre }}</option>
		{{pass}}
	</select>
	<input type="number" step="any" name="monto" value="{{=pedido.monto}}">
	<input type="number" step="any" name="comision" value="{{=pedido.comision}}">
	<input type="submit" value="Actualizar">
</form>