{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
	<title>Pedido</title>
</head>
<body>

<a href="{{=URL('pedido','crear')}}">Crear</a>
<br>

<table style="padding: 10px;">
<thead style="background-color: #ccc;">
	<th style="padding: 5px;">Quien va</th>
	<th style="padding: 5px;">Monto</th>
	<th style="padding: 5px;">Comision</th>
</thead>
<tbody>
{{for row in pedido:}}
	<tr>
		<td style="padding: 5px;">{{ =str(row.id)+" -- "+str(row.viaje_id.persona_id.nombre) }}</td>
		<td style="padding: 5px;">{{ =row.monto }}</td>
		<td style="padding: 5px;">{{ =row.comision }}</td>
		<td style="padding: 5px;">
			<a href="{{=URL('pedido','editar',args=row.id)}}">Editar</a>
			<a href="{{=URL('detalle_pedido','index',args=row.id)}}">+ Añadir</a>
			<a href="javascript:eliminar({{=row.id}})">Eliminar</a>
		</td>
	</tr>
{{pass}}
</tbody>
</table>

</body>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">

			function eliminar( pedido_id )
			{
				console.log(pedido_id);
				$.ajax({
					url:"{{=URL('pedido','eliminar')}}",
					type:"POST",
					data:{pedido_id:pedido_id},
					success:function(response){
						alert("¡Registro Eliminado!");
						window.location.reload();
					}
				});
			}
</script>

</html>