{{extend 'layout.html'}}
<b>Crear Producto</b>
<form method="POST">
	<input type="text" name="descripcion">
	<input type="number" name="precio" step="any">
	<input type="submit" value="Guardar">
</form>