{{extend 'layout.html'}}
<b>Editar Producto</b>
<form method="POST">
	{{=producto.id}}
	<input type="text" name="nombre" value="{{=producto.descripcion}}">
	<input type="number" name="precio" step="any" value="{{=producto.precio}}">
	<input type="submit" value="Actualizar">
</form>