</head>
<body>

<a href="{{=URL('producto','crear')}}">Crear</a>
<br>

<table style="padding: 10px;">
<thead style="background-color: #ccc;">
	<th style="padding: 5px;">Descripcion</th>
	<th style="padding: 5px;">Precio</th>
	<th style="padding: 5px;">Opción</th>
</thead>
<tbody>
{{for row in productos:}}
	<tr>
		<td style="padding: 5px;">{{=row.descripcion}}</td>
		<td style="padding: 5px;">{{=row.precio}}</td>
		<td style="padding: 5px;">
			<a href="{{=URL('producto','editar',args=row.id)}}">Editar</a>
			<a href="javascript:eliminar({{=row.id}})">Eliminar</a>
		</td>
	</tr>
{{pass}}
</tbody>
</table>

</body>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">

			function eliminar( producto_id )
			{
				console.log(producto_id);
				$.ajax({
					url:"{{=URL('producto','eliminar')}}",
					type:"POST",
					data:{producto_id:producto_id},
					success:function(response){
						alert("¡Registro Eliminado!");
						window.location.reload();
					}
				});
			}
</script>

</html>