<!DOCTYPE html>
<html>
<head>
	<title>Añadir al pedido</title>
</head>
<body>

<h1>Información del pedido</h1>
<table>
<thead>
<tr>
	<th># Pedido</th><th>Solicita</th><th>Monto</th><th>Comisión</th>
</tr>
</thead>
<tbody>
<tr>
	<td>{{=str(pedido.id)}}</td><td>{{=pedido.persona_id.nombre}}</td><td>{{=pedido.monto}}</td><td>{{=pedido.comision}}</td>
</tr>
</tbody>
</table>

<h1>Lista de productos</h1>
<form method="POST">
<input type="text" name="pedido_id" value="{{=pedido.id}}" hidden="">
	<table>
		<thead>
			<tr>
				<th>Producto <select name="producto_id">
				{{ for row in productos:}}
					<option value="{{=row.id}}">{{=row.descripcion}}</option>
				{{pass}}
				</select></th>
				<th>
					Cantidad <input type="number" name="cantidad">
				</th>
				<th><input type="submit" value="Añadir"></th>
			</tr>
		</thead>
	</table>
</form>
</body>
</html>